Repository ruang-guru/playground, changes with the labels that .github/labeler.yml gives for each.
All labels: website, ci, frontend, backend

Fuad Amirullah
  site/content/posts/rg-km-participants.md
Labels: website

add my project (Anas Ardiansyah)
  site/content/posts/rg-km-participants.md
Labels: website

menambahkan gh pages Andini Tyas Asih di rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

add user
  site/content/posts/rg-km-participants.md
Labels: website

docs: add my site https://fahrulan.github.io/
  site/content/posts/rg-km-participants.md
Labels: website

Aku Bisa
  site/content/posts/rg-km-participants.md
Labels: website

baru
  site/content/posts/rg-km-participants.md
Labels: website

ok
  site/content/posts/rg-km-participants.md
Labels: website

menambahkan data diri
  site/content/posts/rg-km-participants.md
Labels: website

mengubah data diri
  site/content/posts/rg-km-participants.md
Labels: website

docs: add name and githab pages
  site/content/posts/rg-km-participants.md
Labels: website

edit file rena
  site/content/posts/rg-km-participants.md
Labels: website

edit file rena (#258)
  site/content/posts/rg-km-participants.md
Labels: website

deploy: 09dee57f1d5892dc8dfe348c6074890d42ddbb1d
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

doc. Add my name (#257)
  site/content/posts/rg-km-participants.md
Labels: website

deploy: a8d60e424e4bc5bf4b34632095f8b96dff454cff
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

ok (#256)
  site/content/posts/rg-km-participants.md
Labels: website

deploy: fda072b70e9dbb84c2ef882337384d943a1be79a
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

baru (#255)
  site/content/posts/rg-km-participants.md
Labels: website

deploy: 763cc7e6f94799a083256586c9925606c05d303d
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

Aku Bisa (#254)
  site/content/posts/rg-km-participants.md
Labels: website

deploy: b9b78726cd66195acb6b0a4a530c54a81a697e71
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

docs: add my site https://fahrulan.github.io/ (#253)
  site/content/posts/rg-km-participants.md
Labels: website

deploy: 314f4b565a58346d10abecf00bd592cc5ef5bb88
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

menambahkan gh pages Andini Tyas Asih di rg-km-participants.md (#251)
  site/content/posts/rg-km-participants.md
Labels: website

deploy: 0a50383380565e18397f30a2330f9361cb5b0b3b
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

add ; my name and my github pages
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

docs: add my site <ikawidiantari.github.io>
  site/content/posts/rg-km-participants.md
Labels: website

deploy: 17b4b790ccd231288c2b465ba3ede2a7b2227ded
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

chore: sync
  frontend/css/css-part-1/index.html
  frontend/css/css-part-1/style.css
Labels: frontend

fixed error in folder backend (array, map, slice)
  backend/basic-golang/array/1-array-basic-cp/main.go
  backend/basic-golang/array/2-read-array-cp/main.go
  backend/basic-golang/array/3-write-array-cp/main.go
  backend/basic-golang/array/4-cap-len-array-cp/main.go
  backend/basic-golang/map/1-map-basic-cp/main.go
  backend/basic-golang/slice/1-slice-basic-cp/main.go
  backend/basic-golang/slice/2-read-slice-cp/main.go
  backend/basic-golang/slice/3-write-slice-cp/main.go
  backend/basic-golang/slice/4-slice-subslice-cp/main.go
Labels: backend

golang dasar hari pertama
  backend/basic-golang/array/1-array-basic-cp/main.go
  backend/basic-golang/array/2-read-array-cp/main.go
  backend/basic-golang/array/3-write-array-cp/main.go
  backend/basic-golang/array/4-cap-len-array-cp/main.go
  backend/basic-golang/map/1-map-basic-cp/main.go
  backend/basic-golang/map/2-map-delete-data-cp/main.go
  backend/basic-golang/slice/1-slice-basic-cp/main.go
  backend/basic-golang/slice/2-read-slice-cp/main.go
  backend/basic-golang/slice/3-write-slice-cp/main.go
  backend/basic-golang/slice/4-slice-subslice-cp/main.go
Labels: backend

Menambahkan jawaban dari workshop 15 maret (array,slice,map)
  backend/basic-golang/array/1-array-basic-cp/main.go
  backend/basic-golang/array/2-read-array-cp/main.go
  backend/basic-golang/array/3-write-array-cp/main.go
  backend/basic-golang/array/4-cap-len-array-cp/main.go
  backend/basic-golang/map/1-map-basic-cp/main.go
  backend/basic-golang/map/2-map-delete-data-cp/main.go
  backend/basic-golang/slice/1-slice-basic-cp/main.go
  backend/basic-golang/slice/2-read-slice-cp/main.go
  backend/basic-golang/slice/3-write-slice-cp/main.go
  backend/basic-golang/slice/4-slice-subslice-cp/main.go
Labels: backend

fix error in (if-else, looping)
  backend/basic-golang/if-else/1-if-basic-cp/main.go
  backend/basic-golang/if-else/5-assignment-fizz-buzz/main.go
  backend/basic-golang/looping/1-basic-for-loop-cp/main.go
Labels: backend

add cp if else and looping
  backend/basic-golang/looping/1-basic-for-loop-cp/main.go
Labels: backend

percabangan dan perulangan
  backend/basic-golang/if-else/1-if-basic-cp/main.go
  backend/basic-golang/if-else/5-assignment-fizz-buzz/main.go
  backend/basic-golang/looping/1-basic-for-loop-cp/main.go
Labels: backend

(sync)
  README.md
  backend/basic-golang/exercise/README.md
  backend/basic-golang/exercise/add-data-map/main.go
  backend/basic-golang/exercise/add-data-struct/main.go
  backend/basic-golang/exercise/calculator/main.go
  backend/basic-golang/exercise/cashier-cp/main.go
  backend/basic-golang/exercise/circle-area/main.go
  backend/basic-golang/exercise/cylinder-volume-cp/main.go
  backend/basic-golang/exercise/diamond-pattern-cp/main.go
  backend/basic-golang/exercise/odd-even-repetition/main.go
  backend/basic-golang/exercise/palindrome/main.go
  backend/basic-golang/exercise/passing-grade-cp/main.go
  backend/basic-golang/exercise/passing-grade/main.go
  backend/basic-golang/exercise/pyramid-pattern/main.go
  backend/basic-golang/exercise/rectangle-area/main.go
  backend/basic-golang/exercise/repetition-with-condition-cp/main.go
  backend/basic-golang/exercise/search-roles-cp/main.go
  backend/basic-golang/exercise/simple-pattern/main.go
  backend/basic-golang/exercise/star-pattern-cp/main.go
  backend/basic-golang/exercise/star-pattern/main.go
  backend/basic-golang/exercise/sum-average/main.go
  backend/basic-golang/exercise/two-dimention-area-cp/main.go
Labels: backend

(sync) (#263)
  README.md
  backend/basic-golang/exercise/README.md
  backend/basic-golang/exercise/add-data-map/main.go
  backend/basic-golang/exercise/add-data-struct/main.go
  backend/basic-golang/exercise/calculator/main.go
  backend/basic-golang/exercise/cashier-cp/main.go
  backend/basic-golang/exercise/circle-area/main.go
  backend/basic-golang/exercise/cylinder-volume-cp/main.go
  backend/basic-golang/exercise/diamond-pattern-cp/main.go
  backend/basic-golang/exercise/odd-even-repetition/main.go
  backend/basic-golang/exercise/palindrome/main.go
  backend/basic-golang/exercise/passing-grade-cp/main.go
  backend/basic-golang/exercise/passing-grade/main.go
  backend/basic-golang/exercise/pyramid-pattern/main.go
  backend/basic-golang/exercise/rectangle-area/main.go
  backend/basic-golang/exercise/repetition-with-condition-cp/main.go
  backend/basic-golang/exercise/search-roles-cp/main.go
  backend/basic-golang/exercise/simple-pattern/main.go
  backend/basic-golang/exercise/star-pattern-cp/main.go
  backend/basic-golang/exercise/star-pattern/main.go
  backend/basic-golang/exercise/sum-average/main.go
  backend/basic-golang/exercise/two-dimention-area-cp/main.go
Labels: backend

latihan workshop day 2
  backend/basic-golang/array/1-array-basic-cp/main.go
  backend/basic-golang/array/1-array-basic/main.go
  backend/basic-golang/array/2-read-array/main.go
  backend/basic-golang/if-else/1-if-basic-cp/main.go
  backend/basic-golang/if-else/1-if-basic/main.go
  backend/basic-golang/if-else/2-nested-if/main.go
  backend/basic-golang/if-else/3-else-if/main.go
  backend/basic-golang/if-else/5-assignment-fizz-buzz/main.go
  backend/basic-golang/looping/1-basic-for-loop-cp/main.go
  backend/basic-golang/looping/1-basic-for-loop/main.go
  backend/basic-golang/looping/2-for-ever-loop/main.go
Labels: backend

.github/labeler.yml:

website:
- "site/**"
ci:
- ".github/**"
frontend:
- "frontend/**"
backend:
- "backend/**"
