Repository ruang-guru/playground, changes with the labels that .github/labeler.yml gives for each.
All labels: website, ci, frontend, backend

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

Delete duplicate name
  site/content/posts/rg-km-participants.md
Labels: website

docs : Adding My Name On rg-km-pariticipants.md (#51)
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

deploy: 8e18751e946cbe20d5de671bf90e7c879171f0e4
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

docs: add my site
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

docs : add Meilika as a RG KM Participants
  site/content/posts/rg-km-participants.md
Labels: website

Menambahkan Akhner
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

Update for my name Adit
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

doc : add luchi
  site/content/posts/rg-km-participants.md
Labels: website

Menambahkan Akhner (#82)
  site/content/posts/rg-km-participants.md
Labels: website

deploy: 0de79ec47e0ec2e30beced9fab8b692fc54114dc
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

deploy: 66bbed3dc6d46be00845ecc8c69cd150655eecf0
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

docs : add my name
  site/content/posts/rg-km-participants.md
Labels: website

docs: add myName-Univ-Github
  site/content/posts/rg-km-participants.md
Labels: website

docs: add my site <riansyahtohamba.github.io>
  site/content/posts/rg-km-participants.md
Labels: website

docs : add my name (#86)
  site/content/posts/rg-km-participants.md
Labels: website

deploy: ecd883c243c858ca75c4bf35ddb4037826411df7
  index.xml
  posts/index.xml
  posts/rg-km-participants/index.html
Labels: none

Esa Putra - Universitas Bhayangkara
  site/content/posts/rg-km-participants.md
Labels: website

feat: change sum method
  frontend/unittest/main.js
Labels: frontend

docs: add Meilika as a RG KM Participants
  site/content/posts/rg-km-participants.md
Labels: website

docs : Add Fajar Rahman Name
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

Update rg-km-participants.md
  site/content/posts/rg-km-participants.md
Labels: website

docs: fermi
  site/content/posts/rg-km-participants.md
Labels: website

doc : add my name
  site/content/posts/rg-km-participants.md
Labels: website

docs: add my name
  site/content/posts/rg-km-participants.md
Labels: website

add my name
  site/content/posts/rg-km-participants.md
Labels: website

add my name
  site/content/posts/rg-km-participants.md
Labels: website

docs: add mirza docs
  .idea/.gitignore
  .idea/modules.xml
  .idea/playground.iml
  .idea/vcs.xml
  public/categories/index.xml
  public/index.xml
  public/sitemap.xml
  public/tags/index.xml
  site/content/posts/rg-km-participants.md
Labels: website

add gitignore for webstorm ide
  .gitignore
Labels: none

.github/labeler.yml:

website:
- "site/**"
ci:
- ".github/**"
frontend:
- "frontend/**"
backend:
- "backend/**"
