Repository ruang-guru/playground, pull requests merged in 2022-03, with the labels that each got.

#2 ci: add discord webhook
  .github/workflows/discord.yml
Labels: ci

#4 ci: unit test
  .github/labeler.yml
  .github/workflows/go-unit-test.yml
  .github/workflows/js-unit-test.yml
  .gitignore
  backend/unittest/README.md
  backend/unittest/main.go
  backend/unittest/main_test.go
  backend/unittest/unittest_suite_test.go
  frontend/unittest/main.js
  frontend/unittest/main.test.js
  go.mod
  go.sum
  package.json
  yarn.lock
Labels: ci

#5 ci: sync
  .github/workflows/snyk.yml
Labels: ci

#6 ci: linter
  .github/workflows/linter.yml
Labels: ci

#9 ci: don't run linter on push
  .github/workflows/linter.yml
Labels: ci

#10 docs(site): add README to Hugo & add my name to RG KM Participants
  site/README.MD
  site/content/posts/rg-km-participants.md
Labels: website

#14 docs: elroy pedro kameo
  site/content/posts/rg-km-participants.md
Labels: website

#33 docs: add user farhan
  site/content/posts/rg-km-participants.md
Labels: website

#13 docs: Add my name
  site/content/posts/rg-km-participants.md
Labels: website

#51 docs : Adding My Name Irfan Kurniawan On rg-km-pariticipants.md
  site/content/posts/rg-km-participants.md
Labels: website

#82 Menambahkan Akhner
  site/content/posts/rg-km-participants.md
Labels: website

#59 Docs: add Sefen
  site/content/posts/rg-km-participants.md
Labels: website

#86 docs : add my name
  site/content/posts/rg-km-participants.md
Labels: website

#184 docs: add my site <dhanifajar15.github.io>
  site/content/posts/rg-km-participants.md
Labels: website

#258 docs: add my site https://renapr.github.io/rena-hugo.io/
  site/content/posts/rg-km-participants.md
Labels: website

#257 doc. Add my name
  site/content/posts/rg-km-participants.md
Labels: website

#256 docs: add my site <https://tadashi23.github.io/belajar-hugo-santuy/>
  site/content/posts/rg-km-participants.md
Labels: website

#255 docs: add my site <Aszhuraini.github.io>
  site/content/posts/rg-km-participants.md
Labels: website

#254 docs: add my site <bayuadhiprastyo.github.io>
  site/content/posts/rg-km-participants.md
Labels: website

#253 docs: add my site https://fahrulan.github.io/
  site/content/posts/rg-km-participants.md
Labels: website

#251 docs: add my site <pagdrgn.github.io>
  site/content/posts/rg-km-participants.md
Labels: website

#263 (sync)
  README.md
  backend/basic-golang/exercise/README.md
  backend/basic-golang/exercise/add-data-map/main.go
  backend/basic-golang/exercise/add-data-struct/main.go
  backend/basic-golang/exercise/calculator/main.go
  backend/basic-golang/exercise/cashier-cp/main.go
  backend/basic-golang/exercise/circle-area/main.go
  backend/basic-golang/exercise/cylinder-volume-cp/main.go
  backend/basic-golang/exercise/diamond-pattern-cp/main.go
  backend/basic-golang/exercise/odd-even-repetition/main.go
  backend/basic-golang/exercise/palindrome/main.go
  backend/basic-golang/exercise/passing-grade-cp/main.go
  backend/basic-golang/exercise/passing-grade/main.go
  backend/basic-golang/exercise/pyramid-pattern/main.go
  backend/basic-golang/exercise/rectangle-area/main.go
  backend/basic-golang/exercise/repetition-with-condition-cp/main.go
  backend/basic-golang/exercise/search-roles-cp/main.go
  backend/basic-golang/exercise/simple-pattern/main.go
  backend/basic-golang/exercise/star-pattern-cp/main.go
  backend/basic-golang/exercise/star-pattern/main.go
  backend/basic-golang/exercise/sum-average/main.go
  backend/basic-golang/exercise/two-dimention-area-cp/main.go
Labels: backend

#284 Backend exercise
  frontend/javascript/1-algorithm-and-pseudocode-cp/exercise-2.js
  frontend/javascript/1-algorithm-and-pseudocode-cp/exercise-3.js
  frontend/javascript/3-comparison-cp/script-1.js
  frontend/javascript/3-comparison-cp/script-3.js
  frontend/javascript/3-comparison/script-2.js
  frontend/javascript/4-looping-cp/script-1.js
Labels: ci, backend, frontend

#287 Backend exercise 2
  frontend/javascript/2-variable-cp/script.js
  frontend/javascript/3-comparison-cp/script-2.js
  frontend/javascript/4-looping-cp/script-2.js
  frontend/javascript/5-array-cp/script-1.js
  frontend/javascript/6-function-cp/script-1.js
  frontend/javascript/6-function-cp/script-2.js
Labels: frontend
